<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button"
			        class="navbar-toggle collapsed"
			        data-toggle="collapse"
			        data-target="#itube-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand v-mid" href="">
				<span class="fa fa-youtube-play"></span>
				iTube
			</a>
		</div>
		<div class="collapse navbar-collapse" id="itube-navbar-collapse-2">
			<ul class="nav navbar-nav">
				<li>
					<a href="#/profile"><span class="fa fa-home nav-icon"></span>Profile</a>
				</li>
				<li>
					<a href="#/favorites"><span class="fa fa-heart nav-icon"></span>Favorites</a>
				</li>
				<li>
					<a href="#/network"><span class="fa fa-users nav-icon"></span>Network</a>
				</li>
				<li>
					<a href="#/discover">
						<span class="fa fa-search nav-icon"></span>
						Discover
					</a>
				</li>
				<li>
					<a href="#/admin" class="selected-link">
						<span class="fa fa-user nav-icon"></span>
						Admin
						<span class="sr-only">Admin</span>
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" class="dropdown-toggle"
					   data-toggle="dropdown"
					   role="button"
					   aria-expanded="false">
						<span class="fa fa-user nav-icon"></span>
						<span class="profile-username">{{currentUser.firstName}}</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/account"><span class="fa fa-cog nav-icon"></span>Settings</a></li>
						<li><a ng-click="model.logout()" href=""><span class="fa fa-sign-out nav-icon"></span>Sign Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container padded-top padded-bottom">
	<div class="input-group center-content">
		<input ng-model="keywords"
		       type="text"
		       class="form-control"
		       placeholder="Search users">
	</div>
	<br/>
	<h4>Users</h4>
	<hr class="results-heading-separator"/>
	<br/>
	<div class="row">
		<div ng-show="!model.userResults.length" class="col-xs-12">
			<p class="center-content" style="font-size: 14px">Search users in the box above.</p>
		</div>
		<div ng-repeat="user in model.userResults | filter : keywords | orderBy: 'name'" class="col-sm-6 col-md-3 result">
			<div class="result-container">
				<div class="user-info">
					<h5>{{user.name}}</h5>
					<hr class="results-heading-separator"/>
					<h6>
						<span class="fa fa-long-arrow-down nav-icon"></span>{{user.noOfFollowers}}
						<span class="link-separator">|</span>
						<span class="fa fa-long-arrow-up nav-icon"></span>{{user.noOfFollowing}}
						<span class="link-separator">|</span>
						<span class="fa fa-heart nav-icon"></span>{{user.noOfFavorites}}
					</h6>
					<hr class="results-heading-separator"/>
					<h6>
						<a href="#/profile/{{user._id}}" class="btn btn-danger btn-yt">
							<span class="fa fa-home"></span>
						</a>
						<a href="#/favorites/{{user._id}}" class="btn btn-danger btn-yt">
							<span class="fa fa-heart"></span>
						</a>
						<a href="#/network/{{user._id}}" class="btn btn-danger btn-yt">
							<span class="fa fa-users"></span>
						</a>
						<a href="#/account/{{user._id}}" class="btn btn-danger btn-yt">
							<span class="fa fa-cog"></span>
						</a>
						<button type="submit"
						        ng-click="model.deleteUser(user._id)"
						        ng-hide="user._id == currentUser._id"
						        class="btn btn-danger btn-yt">
							<span class="fa fa-trash"></span>
						</button>
					</h6>
				</div>
			</div>
		</div>
	</div>
</div>