#comm {

    border:3px solid grey;
    align-content:inherit;
}
#userinfo {
    border:1.5px solid grey;
    overflow-y:scroll hidden;
    overflow-x:hidden;
    background-color:#f2f2f2;
    align-content:center;
}
#likedobj {
    /*border:1.5px solid grey;*/
    overflow-y:scroll hidden;
    background-color:#fff;
    height:inherit;
    align-content:center;
}
#writtenreviews {
    border-bottom:3px solid grey;
    border-top:3px solid grey;
    overflow-y:scroll hidden;
    
    background-color:#fff;
}
#reviews {
    background-color:#fff;
    /*border:1.5px solid grey;*/
    align-content:center;
}
#like {
    border-bottom:3px solid grey;
    border-top:3px solid grey;
}
