
    <div class="container">
        <div ng-show="details" id="details">
                        <h1>
<b><strong> {{placename}} </strong></b><button class="btn btn-danger glyphicon glyphicon-heart" ng-model="show" ng-show="show" ng-click="like()">BookMark</button>
            <button class="btn btn-warning glyphicon glyphicon-remove-sign" ng-model="hide" ng-show="hide" ng-click="unlike()">Remove Bookmark</button></h1>
            
            <h3>About this place</h3>

            <div class="row">
                <div class="col-md-1" ng-repeat="result in results">
                    
                    <a class="fancybox" rel="group" href="{{result.unescapedUrl}}">
                       
                            <img ng-src="{{result.unescapedUrl}}" height="50" width="50"/> 
                    </a>

                </div>
            </div>
            {{details}}
            <div class="row" ng-show="currentUser">
                    <h3>Rate this :</h3>
                    <div class="col-md-2">
                        <rating ng-model="rate" max="5" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                        <strong>{{rate}}</strong>
                    </div>
                </div>
            <h4>User Reviews</h4>
            <div ng-hide="pressed">
                <div class="row">
                    <button class="btn btn-primary" ng-click="addreview()">Add Review</button>
                </div>
                
                <div class="row" ng-show="currentUser">
                    <textarea ng-model="comment" rows="5" cols="80"></textarea>
                
                </div>
                <div class="row" ng-show="currentUser">
                    <button class="btn btn-success" ng-click="postreview()">Post</button>
                </div>
            </div>
            
                <div ng-repeat="comment in comments" id="comm" class="container">
                    <div class="col-md-2">
                        
                        <img ng-src={{comment.userphoto}} width="100" height="100" class="img-circle" alt="Your Pic Here">
                    </div>
                    <div class="col-md-8">
                        <div class="row"><h3><a href="#/dashboard/{{comment.username}}">{{comment.username}}</a></h3></div>
                        <div class="row"><rating ng-model="comment.rate" readonly="true" max="5"></rating></div>
                        <div class="row"><p>{{comment.comment}}</p></div>
                    </div>
                </div>
          
        </div>
    </div>

