
    <div class="container"  >
        
        <pagination 
  ng-model="currentPage"
  total-items="10"
  max-size="maxSize"  
  boundary-links="true">
  </pagination>
         <table class="table table-striped" >
            <caption ng-show="destinations"><h2>Tourist Attractions in the City</h2></caption>
             <thead>
                 <tr>
                     <th>Rating</th>
                     <th>Venue Name</th>
                     <th>Category</th>
                     <th> History or Tips</th>
                     <th> Website Url</th> 
                     <th>Photo</th>
                     <th> </th>
                 </tr>
                 <tr>
                    <th><input ng-model ="dest.venue.rating"  class="form-control"/></th>
                    <th><input ng-model ="dest.venue.name" class="form-control"/></th>
                    <th><input ng-model ="dest.venue.categories[0].name" class="form-control"/></th>
                    <th><input ng-model ="dest.tips[0].text" class="form-control"/></th>
                    <th><input ng-model ="dest.venue.url" class="form-control"/></th>
                    <th><input  class="form-control"/></th>
                    <th><button 
                        ng-click="updateDest()"  
                        class="btn btn-primary">
                            <span class="glyphicon glyphicon-ok"/>
                        </button>
                        <button 
                        ng-click="addVenue()"  
                        class="btn btn-success">
                            <span class="glyphicon glyphicon-plus"/>
                        </button>

                    </th>
                </tr>

             </thead>
            <tbody >

                <tr ng-repeat="dest in destinations | limitTo: 5">
                    <td>{{dest.venue.rating}}</td>
                    <td>{{dest.venue.name}}</td>
                    <td>{{dest.venue.categories[0].name}}</td>
                    <td>{{dest.tips[0].text}}</td>
                    <td><a href="{{dest.venue.url}}">{{dest.venue.name}} url</a></td>
                    <td><img class="poster" ng-src="{{dest.tips[0].photourl}}" width="100" /></td>
                    <td><a href="#/details/{{dest.venue.name}}"><button class="btn btn-primary glyphicon glyphicon-send">  Explore</button></a></td>
                    <td>
                        <button 
                        ng-click="selectObject(dest)"  
                        class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"/>
                        </button>
                        <button 
                        ng-click="removeObject($index)"  
                        class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"/>
                        </button>
                    <td/>
                </tr>
            </tbody>
        </table>
       

    </div>

