<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header stick-to-left left-chevron">
			<a href="#/user/{{model.userId}}/website" class="navbar-link">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
		</div>
		<a class="navbar-brand left-padding-adjusted" href="">Edit Website</a>
		<div class="stick-to-right">
			<a ng-click="model.updateWebsite(model.website)" class="navbar-link">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>
	</div>
</nav>
<div class="container">
	<div ng-if="model.error" class="alert alert-danger">
		{{model.error}}
	</div>
	<form name="myForm" novalidate>
		<div class="form-group">
			<label for="website-name">Website Name</label>
			<input ng-model="model.website.name"
			       type="text"
			       name="wname"
			       class="form-control"
			       id="website-name"
			       placeholder="Website Name"
			       required=""/>
		</div>
		<span ng-show="myForm.wname.$error.required && myForm.wname.$dirty"
		      class="help-block">
			Website Name is required
        </span>
		<div class="form-group">
			<label for="description">Website Description</label>
			<textarea ng-model="model.website.description"
			          rows="4"
			          class="form-control"
			          id="description"
			          placeholder="Website Description">
			</textarea>
		</div>
	</form>
	<a class="btn btn-danger btn-block" ng-click="model.deleteWebsite(model.websiteId)">Delete</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="pseudo-margin stick-to-left footer-left">
			<a href="" class="navbar-link">
				<span class="glyphicon glyphicon-share-alt color-black"></span>
			</a>
		</div>
		<div class="pseudo-margin stick-to-right">
			<a href="#/user/{{model.userId}}">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</div>
</nav>