<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#/user/{{model.uid}}/website" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWebsite()" class="navbar-link">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Website Name </label>
            <input ng-model="model.website.name" name="name" type="text" class="form-control" id="website-name"  value="Apple" placeholder="Google">
        </div>
        <div class="form-group">
            <label for="description">Website Description</label>
            <textarea ng-model="model.website.description"
                      id="description"
                      class="form-control"
                      rows="4"
                      placeholder="Description" ></textarea>
        </div>
        <a class="btn btn-danger btn-block" ng-click="model.deleteWebsite()" >Delete</a>
        </form>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">

            <div class="col-xs-3 text-center pull-right">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>