<div class="container" id="edit">
    <h2>Hi {{currentUser.username}}, Your Current Information with Us</h2>
    <hr />
    <div class="row">
         <div class="col-md-0">
            <div class="text-center">
                <img ng-src="{{loc}}" width="50" height="50" class="img-circle" alt="Your Pic Here">
                <h6>Upload ...</h6>

                <input ng-model="photo" class="form-control" id="filePicker" type="file">
            </div>
        </div>
        <div class="col-md-4 personal-info">
            <div ng-show="mismatch" class="alert alert-info alert-dismissable">
                <i class="fa fa-coffee">Please verify the entered password</i>
                
            </div>
            <div ng-show="save" class="alert alert-info alert-dismissable">
                <i class="fa fa-coffee">Changes Saved</i>
                
            </div>
            <h3>Edit Profile </h3>

            <form class="form-vertical" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">First Name:</label>
                    <div class="col-lg-8">
                        <input ng-model="new_fn" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Last Name:</label>
                    <div class="col-lg-8">
                        <input ng-model="new_ln" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input ng-model="new_mail" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Username:</label>
                    <div class="col-md-8">
                        {{currentUser.username}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Password:</label>
                    <div class="col-md-8">
                        <input ng-model="new_pwd" class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm password:</label>
                    <div class="col-md-8">
                        <input ng-model="re_pwd" class="form-control" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn btn-success" value="Save Changes" ng-click="saveChanges()" type="button">
                        <span></span>
                        <input class="btn btn-danger" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
