<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header stick-to-left">
			<a class="navbar-brand" href="">Profile</a>
		</div>
		<div class="stick-to-right">
			<a ng-click="model.updateUser(model.user)" href="#/user/{{model.user._id}}" class="navbar-link">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>
	</div>
</nav>
<div class="container">
	<div ng-if="model.deleteError" class="alert alert-danger alert-dismissible">
		<strong>{{model.deleteError}}</strong>Failed to unregister your profile.
	</div>
	<div ng-if="model.updateError" class="alert alert-danger alert-dismissible">
		<strong>{{model.updateError}}</strong>Failed to update your profile.
	</div>
	<div ng-if="model.updateSuccess" class="alert alert-success alert-dismissible">
		<strong>{{model.updateSuccess}}</strong>Your profile was saved.
	</div>
	<form>
		<div class="form-group">
			<label for="username">Username</label>
			<input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username"/>
		</div>
		<div class="form-group">
			<label for="email">Email Address</label>
			<input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="john@example.com"/>
		</div>
		<div class="form-group">
			<label for="first-name">First Name</label>
			<input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="John"/>
		</div>
		<div class="form-group">
			<label for="last-name">Last Name</label>
			<input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Doe">
		</div>
	</form>
	<a href="#/user/{{model.user._id}}/website" class="btn btn-primary btn-block">Websites</a>
	<a ng-click="model.logout()" class="btn btn-danger btn-block">Logout</a>
	<a ng-click="model.unregister()" class="btn btn-danger btn-block">Unregister</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="pseudo-margin stick-to-right">
			<a href="#/user/{{model.user._id}}">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</div>
</nav>