<div class="container">
	<form name="myForm" novalidate>
		<div class="form-group">
			<label for="widget-name">Name</label>
			<input ng-model="model.widget.name"
			       type="text"
			       name="name"
			       class="form-control"
			       id="widget-name"
			       placeholder="Widget Name"
			       required="">
		</div>
		<span class="help-block"
		      ng-show="myForm.name.$error.required && myForm.name.$dirty">
			Name is required.
        </span>
		<div class="form-group">
			<label for="text-ng-toolbar">HTML Text</label>
			<div ng-model="model.widget.text"
			     id="text-ng-toolbar"
			     text-angular
			     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
    ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
    ['indent','outdent'],['html']]">
			</div>
		</div>
	</form>
	<a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>