<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid header-footer">
            <div class="navbar-text navbar-left pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <a class="navbar-brand">Widget</a>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div ng-repeat="widget in model.widgets" ng-switch="widget.widgetType">

            <div class="widget-edit-media">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>

            <div ng-switch-when="YOUTUBE">
                <iframe class="embed-responsive-item" width="{{widget.width}}" height="{{widget.height}}"
                        ng-src="{{model.getTrustedURL(widget)}}" frameborder="0" allowfullscreen>
                </iframe>
            </div>

            <div ng-switch-when="HEADER">
                <div ng-switch="widget.size">
                    <h1 ng-switch-when="1">{{widget.text}}</h1>
                    <h2 ng-switch-when="2">{{widget.text}}</h2>
                    <h3 ng-switch-when="3">{{widget.text}}</h3>
                    <h4 ng-switch-when="4">{{widget.text}}</h4>
                    <h5 ng-switch-when="5">{{widget.text}}</h5>
                    <h6 ng-switch-when="6">{{widget.text}}</h6>
                    <h1 ng-switch-default>{{widget.text}}</h1>
                </div>
            </div>

            <div ng-switch-when="IMAGE">
                <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
            </div>

            <div ng-switch-default>
                <p ng-bind-html="model.getTrustedHTML(widget)"></p>
            </div>

    </div>
</div>

<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid header-footer">
            <div class="navbar-text pull-left">
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
                <a href="" class="navbar-link">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.uid}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</footer>