<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name"> Name </label>
            <input ng-model="model.widget.name" type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <select ng-model="model.widget.size" type="text" class="form-control" id="size" placeholder="Size">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            </select>
        </div>
        <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()" role="button">Delete</a>
    </form>
</div>