<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="initial-scale=1.25, user-scalable = no">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assignment/css/style.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/assignment/view/widget/widget-list.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Choose Widget
            </a>

        </div>
    </div>
</nav>
<div class="container">
    <form>
        <div class="form-group">
            <a href="/assignment/view/widget/widget-header.html">Header </a>
        </div>
        <div class="form-group">
            <a href="#">Label </a>
        </div>
        <div class="form-group">
            <a href="#">HTML </a>
        </div>
        <div class="form-group">
            <a href="#">Text Input </a>
        </div>
        <div class="form-group">
            <a href="#">Link </a>
        </div>
        <div class="form-group">
            <a href="#">Button </a>
        </div>
        <div class="form-group">
            <a href="/assignment/view/widget/widget-image.html">Image </a>
        </div>
        <div class="form-group">
            <a href="/assignment/view/widget/widget-youtube.html">Youtube </a>
        </div>
        <div class="form-group">
            <a href="#">Data Table </a>
        </div>
        <div class="form-group">
            <a href="#">Repeater </a>
        </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">

            <div class="col-xs-3 text-center pull-right">
                <a href="/assignment/view/user/profile.html">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>